[submodule "submodule/ms-testdata"]
	path = submodule/ms-testdata
	url = git://github.com/bahuvrihi/ms-testdata.git
[submodule "submodule/ms-in_silico"]
	path = submodule/ms-in_silico
	url = git://github.com/bahuvrihi/ms-in_silico.git
[submodule "submodule/tap-http"]
	path = submodule/tap-http
	url = git://github.com/bahuvrihi/tap-http.git
